[submodule "External/Mustache"]
	path = ThirdParty/mustache
	url = https://github.com/kainjow/Mustache.git
[submodule "External/rapidjson"]
	path = ThirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
